@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #183A2D;
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@font-face{
  font-family:'Nunito-Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/NunitoSans-ExtraLight.woff2') format('woff2'),
  url('/fonts/NunitoSans-ExtraLight.ttf') format('ttf');
}

@font-face{
  font-family:'Nunito-Sans';
  font-style: bold;
  font-weight: 800;
  src: url('/fonts/NunitoSans-Bold.woff2') format('woff2'),
  url('/fonts/NunitoSans-Bold.ttf') format('ttf');
}